#placesList,
#placesToolbar {
  visibility: collapse !important;
}

#placesViewsBox {
  margin: 10px 10px 5px 10px !important;
  -moz-default-appearance: listbox !important;
  appearance: auto !important;
}
#placesViewsBox #downloadsListBox {
  color: -moz-FieldText !important;
  background-color: -moz-Field !important;
  border: 0 !important;
  background-image: url("chrome://userchrome/content/windows/downloads/viewFader.png") !important;
}
#placesViewsBox #downloadsListBox richlistitem {
  padding-block: 13px !important;
  padding-inline-start: 13px !important;
  padding-inline-end: 10px !important;
  min-height: 25px;
  outline: 0 !important;
  background-color: transparent !important;
  border-bottom: 1px dotted #C0C0C0 !important;
  color: inherit !important;
}
#placesViewsBox #downloadsListBox richlistitem[selected=true] {
  background-image: url("chrome://userchrome/content/windows/downloads/downloadSelected.png") !important;
  border-bottom: 1px dotted #7F9DB9 !important;
}
#placesViewsBox #downloadsListBox richlistitem .downloadMainArea {
  align-items: flex-start !important;
}
#placesViewsBox #downloadsListBox richlistitem .downloadProgress {
  appearance: auto !important;
  -moz-default-appearance: progress-bar !important;
  border: 1px solid ThreeDShadow !important;
  border-right-color: ThreeDHighlight !important;
  border-bottom-color: ThreeDHighlight !important;
  height: unset !important;
  border-radius: unset !important;
  background-color: ThreeDFace !important;
}
#placesViewsBox #downloadsListBox richlistitem .downloadProgress::-moz-progress-bar {
  appearance: auto !important;
  -moz-default-appearance: progresschunk !important;
  border-radius: unset !important;
  background-color: Highlight !important;
}
#placesViewsBox #downloadsListBox richlistitem .downloadTypeIcon {
  margin: 0 !important;
  margin-inline-end: 10px !important;
  align-self: flex-start !important;
}
#placesViewsBox #downloadsListBox richlistitem .downloadDetails {
  font-size: unset !important;
  opacity: 1 !important;
}
#placesViewsBox #downloadsListBox richlistitem .downloadButton {
  padding: 0 !important;
}

#commandBar {
  padding: 0px 10px 5px 10px !important;
}

#saveToFolder {
  appearance: auto !important;
  -moz-default-appearance: toolbarbutton !important;
  padding: 1px 6px 3px 5px !important;
  border: 1px solid transparent;
  background-color: transparent !important;
  color: -moz-DialogText !important;
}
#saveToFolder:hover:not([disabled=true]) {
  border-color: ThreeDHighlight ThreeDShadow ThreeDShadow ThreeDHighlight !important;
}
#saveToFolder:hover:not([disabled=true]):active {
  padding: 2px 5px 2px 6px !important;
  border-color: ThreeDShadow ThreeDHighlight ThreeDHighlight ThreeDShadow !important;
}
#saveToFolder .toolbarbutton-text {
  text-align: left !important;
  margin-block-start: 1px !important;
  margin-inline-start: 5px !important;
}

#cleanUpButton {
  margin: 0px !important;
  list-style-image: url("chrome://userchrome/content/windows/downloads/downloadCleanup.png") !important;
  padding: 2px 6px 3px 5px !important;
  /*
  * Since we can't use the resizer element,
  * we will have to add this for accuracy
  * purposes.
  */
  margin-inline-end: 15px !important;
}
:root[namoroka-style-1] #cleanUpButton {
  list-style-image: url("chrome://userchrome/content/windows/downloads/firefox-2/downloadCleanup.png") !important;
}
#cleanUpButton:not([disabled=true]):hover:active {
  padding: 3px 5px 2px 6px !important;
}
#cleanUpButton[disabled=true] {
  list-style-image: url("chrome://userchrome/content/windows/downloads/downloadCleanupDisabled.png") !important;
}
:root[namoroka-style-1] #cleanUpButton[disabled=true] {
  list-style-image: url("chrome://userchrome/content/windows/downloads/firefox-2/downloadCleanupDisabled.png") !important;
}
#cleanUpButton .button-icon {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 5px !important;
}

#commandBarSeparator {
  margin-inline-start: 5px !important;
}

/*# sourceMappingURL=downloads.css.map */
