#status-bar {
    @media (-moz-windows-classic) {
        & {
            margin-block-start: 2px !important;
        }
    }
    background-color: -moz-Dialog !important;
    border-top: 1px solid ThreeDShadow !important;
    border-left: 1px solid ThreeDShadow !important;
    border-right: 1px solid ThreeDHighlight !important;
    border-bottom: 1px solid ThreeDHighlight !important;

    @media not (-moz-windows-classic) {
        // weird marble quirk makes me have to do this
        & {
            appearance: statusbar !important;
        }
    }
    
    min-height: 22px !important;
    align-items: center;

    :root[inFullscreen="true"] & {
        visibility: collapse !important;
    }

    #statuspanel {
        display: flex !important;
        position: static !important;
        visibility: visible !important;
        opacity: 1 !important;
        padding: 0 !important;
        max-width: 100% !important;
        min-width: 100% !important;
        align-items: center !important;
        padding-top: 1px !important;

        #statuspanel-label {
            margin-block-start: 1px !important;
            margin-block-end: 2px !important;
            margin-inline-start: 6px !important;
            margin-inline-end: 5px !important;
            border: 0 !important;
            padding: 0 !important;
        }

        &[inactive] {
            #statuspanel-label {
                opacity: 0 !important;
            }
        }
    }
}