/* commonDialog icons */
.message-icon {
    list-style-image: url("chrome://namoroka/content/firefox-2/icons/Question.png") !important;
}

.alert-dialog #infoIcon,
.alert-icon {
    list-style-image: url("chrome://namoroka/content/firefox-2/icons/Warning.png") !important;
}

.error-icon {
    list-style-image: url("chrome://namoroka/content/firefox-2/icons/Error.png") !important;
}

.question-icon {
    list-style-image: url("chrome://namoroka/content/firefox-2/icons/Question.png") !important;
}

