//  ===== Namoraka :: Base =====================================================
//  Set root variables and makes controls appear "native".
//  =============================================================================

:root {
	--toolbar-bgcolor: -moz-Dialog !important;
	--toolbar-bgimage: none !important;
	--toolbar-color: -moz-DialogText !important;
	--lwt-text-color: -moz-DialogText !important;
	--lwt-toolbarbutton-icon-fill: -moz-DialogText !important;
	--toolbar-field-focus-border-color: Highlight !important;
	--lwt-toolbar-field-background-color: -moz-Field !important;
	--lwt-toolbar-field-color: -moz-FieldText !important;
	--lwt-toolbar-field-border-color: rgb(204, 204, 204) !important;
	--lwt-toolbar-field-focus: -moz-Field !important;
	--lwt-toolbar-field-focus-color: -moz-FieldText !important;
	--toolbarbutton-border-radius: 0 !important;
	--toolbarbutton-icon-fill-opacity: 1 !important;
	--panel-separator-color: ThreeDLightShadow !important;
	--arrowpanel-background: -moz-Field !important;
	--arrowpanel-color: -moz-FieldText !important;
	--arrowpanel-border-color: ThreeDShadow !important;
	--arrowpanel-dimmed: hsla(0,0%,80%,.35) !important;
	--arrowpanel-dimmed-further: hsla(0,0%,80%,.5) !important;
	--arrowpanel-dimmed-even-further: hsla(0,0%,80%,.8) !important;
	--urlbar-separator-color: ThreeDLightShadow !important;
	--chrome-content-separator-color: ThreeDShadow !important;
	--toolbarbutton-hover-transition-duration: 0 !important;
	--autocomplete-popup-background: -moz-Field !important;
	--autocomplete-popup-color: -moz-FieldText !important;
	--toolbarbutton-hover-background: var(hsla(240,5%,5%,.1)) !important;
	--toolbarbutton-active-background: var(hsla(240,5%,5%,.15)) !important;
	--toolbarbutton-icon-size: 24px !important;
}

toolbox {
    appearance: auto !important;
}

// Eradicate Firefox View

#firefox-view-button {
    display: none !important;
}

#tabbrowser-tabs {
    border-inline-start: 0 !important;
    padding-inline-start: 0 !important;
    margin-inline-start: 0 !important;
}