//  ===== Namoraka :: Common ====================================================
//  Common styles that will be used across the Firefox 1, 2, and 3 styles.
//  =============================================================================

toolbar:not(:first-of-type) {
    appearance: none !important; // COMPLETELY disregard the native toolbar appearance  
    border-top: 1px solid ThreeDHighlight !important;
    border-bottom: 1px solid ThreeDShadow !important;
    background-color: transparent !important;
    background-image: none !important;
}

#nav-bar {
    .toolbaritem-combined-buttons {
        align-items: stretch !important;
        margin-inline: 0 !important;

        separator {
            visibility: collapse !important;
        }
    }

    .toolbarbutton-1:not(#PanelUI-menu-button) {
        appearance: auto !important;

        .toolbarbutton-icon,
        .toolbarbutton-badge-stack {
            width: var(--toolbarbutton-icon-size) !important;
            height: var(--toolbarbutton-icon-size) !important;
            background-color: transparent !important;
            padding: 0 !important;
            border-radius: 0 !important;
        }

        // Make Extensions use higher quality icons
        &.webextension-browser-action {
            list-style-image: var(--webextension-toolbar-image-2x, inherit) !important;
        }
    }
}

#downloads-button {
    .toolbarbutton-icon {
        display: flex !important;
    }

    #downloads-indicator-anchor,
    #downloads-indicator-progress-outer,
    #downloads-indicator-start-box,
    #downloads-indicator-finish-box {
        visibility: collapse !important;
    }
}

// Hide the PanelUI button
// We simply can't use simple ways to hide it because of the "Update Firefox" panel will be FUCKED!!!!!!!!!

#PanelUI-menu-button {
    appearance: none !important;
    list-style-image: none !important;
    margin: 0 !important;
    padding: 0 !important;

    .toolbarbutton-badge-stack {
        padding: 0 !important;
        
        .toolbarbutton-icon {
            width: 0 !important;
            height: 0 !important;
        }
    
        .toolbarbutton-badge {
            visibility: collapse !important;
        }
    }
}