//  ===== Namoraka :: Tweaks ====================================================
//  Firefox 1, 2, and 3 and other styles.
//  =============================================================================

// Firefox 1 (Namoraka Style 0)

:root[namoraka-appearance-style="0"] {

$ff1iconRegionMap: (
    "back-button": 0px,
    "forward-button": 24px,
    "stop-button": 48px,
    "reload-button": 72px,
    "home-button": 96px,
    "downloads-button": 120px,
    "history-panelmenu": 144px,
    "bookmarks-menu-button": 168px,
    "print-button": 192px,
    "new-tab-button": 216px,
    "new-window-button": 240px,
    "cut-button": 264px,
    "copy-button": 288px,
    "paste-button": 312px,
    "email-link-button": 336px,
    "unified-extensions-button": 360px,
    "open-file-button": 384px,
    "save-to-pocket-button": 408px
);

#nav-bar {
    @each $icon, $offset in $ff1iconRegionMap {
        & ##{$icon} {
            .toolbarbutton-icon {
                list-style-image: none !important;
                background-image: url("images/ff1/Toolbar.png") !important;
                background-position-x: (-$offset) !important;
            }

            &:hover .toolbarbutton-icon {
                background-position-y: -24px;
            }

            &[disabled="true"] .toolbarbutton-icon {
                background-position-y: -48px;
            }

            &[open="true"] .toolbarbutton-icon {
                background-position-y: -72px;
            }
        }
    }
}

}